<!DOCTYPE html>
<html>
	<head>
		<title>index page for npm</title>
	</head>
	<body>
		<form action="/searchEco" role="form" method="POST">
			<input type="radio" name="ecosystem" value="gulp">Gulp
			<input type="radio" name="ecosystem" value="grunt">Grunt<br>
			<input type="text" name="searchQuery">
			<button type="submit" name="searchBy" value="ecosystem">Search!</button> 
		</form>
	</body>
</html>
